[core]
	excludeFiles = ~/.gitignore
	editor = vim
[user]
	name = Victor Borzov
	email = test@test.com
[merge]
	tool = vimdiff
	conflict = style
[commit]
  template = /home/vb/.gitmessage
[mergetool]
	prompt = false

[includeIf "gitdir:/home/vb/RiderProjects/personal/"]
    path = /home/vb/.gitconfig-personal

[includeIf "gitdir:/home/vb/RiderProjects/ap/"]
    path = /home/vb/.gitconfig-ap
